html, body {
  font-family: 'Muli', sans-serif;
}


/*===== Colores de fondo =====*/
div.bg-gris {
  background-color: #333333;
  color: #FFFFFF;
}

div.bg-verde {
  background-color: #00EBC1;
  color: #FFFFFF;
}

div.bg-verde .text-muted {
  color: #00B998;
}

div.bg-verde hr {
  background-color: #00B998;
}

/*===== Estilos de fuente =====*/
/* Tamaños*/
.fuente-s {
  font-size: 1.4em;
}
.fuente-m {
  font-size: 2em;
}
.fuente-l {
  font-size: 3em;
}
.fuente-xl {
  font-size: 9em;
  margin-top: 0;
}

/* Secciones */
.titulo-seccion {
  border-top: 8px solid #00B998;
  display: inline-block;
  padding-top: 10px;
  text-transform: uppercase;
}

.alerta {
  background-color: none;
  background-color: rgba(255,255,255,0.3);
  border-left: #FFFFFF solid 0.5em;
  margin: 0.5em;
  padding: 0.1em;
}

/* Alineaciones */
.img-top {
  vertical-align: top;
}

.vertical-align {
    display: flex;
    align-items: center;
}

/* Botones */
.btn-verde {
  background-color: #00B998;
  cursor: pointer;
}

/*===== Espaciadores =====*/
.espacio-30 {
  min-width:100%;
  min-height: 3em;
}

.espacio-50 {
  min-width:100%;
  min-height: 4em;
}


/*===== Seccion top =====*/
#top {
  color: #FFFFFF;
  font-size: 2em;
  font-weight: 300;
  height: 70px;
  line-height: 70px;
  min-width: 100%;
}

#top img {
  display: inline-block;
}

#top #logo-col {
  text-align: center;
}

#top small {
  color: #707070;
  font-size: 15px;
}


/*===== Sliders =====*/
.slider {
  margin: 20px;
}
.slider, .slider-track, .slider-selection, .slider-track-low, .slider-track-high {
  border-radius: 100px !important;
}
.slider-selection {
	background: #00B998 !important;
}

.slider-track {
  height: 20px !important;
}

.slider .slider-handle {
  background-image: none;
  background-color: #333333;
  border-radius: 30px;
  width: 30px;
  height: 30px;
  margin-left: -10px;
}

.slider-horizontal {
  min-width: 70%;
}


.rs-control .rs-range-color {
    background-color: #00b998;
}
.rs-control .rs-path-color {
    background-color: #ffffff;
}
.rs-control .rs-handle {
    background-color: #333333;
}
.rs-control .rs-bg-color {
    background-color: #00ebc1;
}

.rs-bar {
  display: block;
}

.rs-control {
  margin: auto;
  width: 100%;
}
