@media screen and (min-width: 1200px) {
  body {
    font-size: 11px;
  }

  #top .container{
    width: 100%;
    max-width: 1200px;
  }
}

@media screen and (max-width: 1200px) {
  body {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  body {
    font-size: 8px;
  }
}
